
body{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(54, 54, 54);
}

h1{
    letter-spacing: 0.05em;
}

.containerEndpoint{
    display: flex;
    flex-direction: column;
    width: 90%; 
    max-width: 650px;
    margin: 10px 0;
    padding: 10px;
}
.containerEndpoint:hover{
    background-color: rgb(241, 238, 238);

}
strong
{
    margin: 0 10px;
} 
.get{
    color: rgb(5, 167, 5);
}
.post{
    color: rgb(255, 166, 0);
}
.delete{
    color: rgb(255, 38, 9);
}
.put{
    color: rgb(0, 27, 182);
}
code{
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 34, 34);
    color: rgb(233, 231, 231);
    padding: 20px;
    border-radius: 4px;
    width: auto;
    font-size: 1.2em;
    line-height: 150%;

}

.note{
    margin: 10px;
} 
.paddingLeft{
    padding-left: 20px;
}